@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */


/* TIPOGRAFIAS */
/*  font-family: 'Inter', sans-serif;  --- navbar*/
/*  font-family: 'Roboto Condensed', sans-serif; -----  parrafo*/

/* Paleta de Colores */
/* #96CEB4  Verde */
/* #FFEEAD  Amarillo Palido*/
/* #D9534F Rojo  */
/* #FFAD60 Naranja */

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px auto 50px;
    background-image: url(../asset/img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    height: 100%;    
    font-family: 'Inter', sans-serif;
}

main {
    height: 100%;
    width: 100%;
}

footer {
    height: 100%;
    background-color: #D9534F;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR MOBILE */

.carrito_navbar {
    display: none;
}

.navbar {
    background-color: #D9534F;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo_navbar img {
    width: 80px;
    padding-left: .3125rem;
    padding-top: 5px;
    transition-duration: 0.3s;
}
.logo_navbar img:active {
    transform: translateY(4px);
}

.menu_navbar {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #D9534F;
    position: absolute;
    list-style: none;
}

.menu_navbar li {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.menu_navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}

.navbar label img{
    justify-self: center;
}
.navbar label {
    cursor: pointer;
    margin-right: 25px;
    background-color: #D9534F;
    box-shadow: 0px 0px 10px #a03d39;
    padding-bottom: 4px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}

#toggle {
    display:none ;
}


#toggle:checked ~ .menu_navbar {
    background-color: #a03d39;
    display: flex;
    top: 80px;
}


/* FOOTER */

.rrss_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* INDEX */


.article_index {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.875rem;
}

.article_index h1 {
    font-size: 32px;
    color: #FFAD60;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0px 2px 2px black;
}

.article_index h2 {
    color: #d48e4c;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0px 2px 2px black;
}

.article_index a {
    color: white;
    width: 180px;
    height: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    background-color: #96CEB4;
    border-radius: 50px;
    border: black;
    box-shadow: 0px 8px 0 #3a5045;
    transition-duration: 0.2s;
    cursor: pointer;
    text-shadow: -1px 1px 0px black;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.article_index a:hover{
    background-color: #96CEB4;
    transition-duration: 0.3s;
    box-shadow: 0px 8px 0 #3a5045;
    
}
.article_index a:active {
    background-color: #96CEB4;
    box-shadow: 0 5px #3a5045;
    transform: translateY(4px);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NOSOTROS */

.main_nosotros {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #632523; 
}
.foto_uno_nosotros {
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.foto_uno_nosotros img{
    width: 300px;
    height: 150px;
    background-color: #D9534F;
    padding: 5px;
    border-radius: 10px;
    box-shadow: -3px 5px #a03d39
    
}

.card_nosotros {
    align-self: center;
    width: 310px;
    height: 400px;
    text-align: center;
    background-color: #D9534F;
    box-shadow: -3px 5px #a03d39;
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    padding-top: 10px;
    border-radius: 50px;
    margin-bottom: 50px;
}
.card_nosotros h2 {
    color: white;
    text-decoration: underline;
    margin-bottom: 15px;
}

.card_nosotros p {
    font-size: 14px;
    align-self: center;
    width: 250px;
    margin-bottom: 20px;
}

/* TIENDA */

.main_tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #632523;
    gap: 1.25rem;
}

.banner_feria {
    display: none;
}

.banner_feria_mobile {
    justify-self: center;
}

.main_tienda h1 {
    color: white;
    text-align: center;
}

.main_tienda h2 {
    color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 20px;
}

.productos {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


.contenedor_producto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #D9534F;
    padding: 20px;
    border-radius: 50px;
}

.card_producto {
    background-color: #FFEEAD;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    gap: .3125rem;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: -5px 5px 0 #b3a779;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card_producto img {
    width: 150px;
    background-color: #666046;
    padding: 5px;
    border-radius: 10px;
}

.card_producto h3 {
    color:black;
    font-weight: 300;
}

.contidad_producto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.cantidad_producto input {
    width: 50px;
    height: 25px;
}

.boton_producto {
    width: 30px;
    height: 25px;
}

.mas {background-color: #96CEB4;}
.menos {background-color: #D9534F;}

.agregar_producto {
    width: 120px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FFAD60;
}

/* Contacto */
.main_contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #632523;
    gap: 1.875rem;
}

.main_contacto iframe {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.formulario_contacto {
    background-color: #96CEB4;
    box-shadow: -5px 5px 0 #3a5045;
    width: 300px;
    height: 380px;
    border-radius: 20px;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}


.formulario_contacto input {
    width: 250px;
    height: 25px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 8px;
}

.formulario_contacto label {
    margin-left: 24px;
}

#mensaje {
    height: 225px;
}

.info_contacto {
    position: relative;
    margin-top: 20px;
}

.info_contacto img {
    width: 300px;
}

.texto_contacto {
    width: 250px;
    font-size: 14px;
    position: absolute;
    top: 70px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    color: #FFEEAD;
}


.main_carrito {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    gap: .9375rem;
    background-color: #632523;
}

.linea {
    margin-top: 5px;
    width: 100%;
    border: 1px 1px white
}

.contenedor_carrito h1 {
    text-align: center;
    margin-bottom: 25px;
}

.contenedor_carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    background-color: #D9534F;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.productos {
    display: flex;
    flex-direction: column;
}

.encabezados_carrito{
    margin-left: 5px;
    margin-right: 5px;
}
.encabezados_carrito ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.foto_carrito {
    display: none;
}

.producto ul{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.producto .boton_carrito input {
    width: 20px;
    height: 23px;

}

.boton_carrito button{
    width: 20px;
}
.boton_mas {
    border: none;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 20px;
}
.boton_menos {
    border: none;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20px;
}

.checkout {
    margin-top: 50px;
    background-color: #963835;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.checkout h2 {
    text-align: center;
}
.checkout ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.checkout ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.checkout button {
    margin-top: 5px;
    width: 180px;
    align-self: center;
    background-color: #96CEB4;
    height: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
}

.checkout input {
    margin-top: 10px;
    align-self: center;
    height: 30px;
}

.total_checkout {
    margin-top: 2px;
    background-color: #632523;
    border-radius: 10px;
    height: 50px;
    position: relative;
}

.total_checkout ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-top: 15px;
    

}
.total_checkout ul li {
    margin-left: 8px;
    margin-right: 8px;
}
.boton_pagar {
    margin-top: 3px;
    background-color: #96CEB4;
    height: 50px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
}












/* MEDIA QUERY */
@media only screen and (min-width: 720px) {
    .banner_feria {
        display: flex;
    }
    .banner_feria_mobile {
        display: none;
    }
    .contenedor_carrito {
        width: 500px;
    }

    .navbar_carrito {
        background-color: #632523;
    }

    .foto_carrito {
        display: block;
    }
    .encabezados_carrito {
        margin-left: 130px;
    }

    .checkout {
        background-color: rgba(0, 0, 0, 0.658);
    }
    .checkout ul {
        margin-left: 100px;
        margin-right: 100px;
    }
    .total_checkout ul{
        padding-left: 100px;
        padding-right: 100px;

    }
    .boton_pagar {
        width: 100%;
        
    }
}
@media only screen and (min-width: 768px) {
    .navbar label {
        display: none;
    }

    .carrito_navbar {
        display: flex;
        position: absolute;
        right: 4%;
        background-color: #D9534F;
        box-shadow: -5px 5px 0px #a03d39;
        padding: 15px;
        border-radius: 9999px;
        transition-duration: 0.3s;

    }
    .carrito_navbar:active {
        background-color: #D9534F;
        box-shadow: -5px 5px #a03d39;
        transform: translateY(4px);
    }
    .carrito_navbar img {
        width: 35px;
    }


    .logo_navbar {
        position: absolute;
        left: 2%;
    }

    .navbar {
        background-color: rgba(245, 222, 179, 0);
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
    }

    .menu_navbar {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #D9534F;
        box-shadow: -5px 5px 0px #a03d39;
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 9999px;
    }
    .menu_navbar .carrito {
        display: none;
    }

    .menu_navbar li {
        width: 100px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        transition-duration: 0.5s;
        cursor: pointer;
    }
    .menu_navbar li :hover {
        background-color: #a03d39;
        padding: 10px;
        border-radius: 50px;
    }
    /* NOSOTROS */
    .main_nosotros {
        background-color: rgba(255, 239, 173, 0) ;
        gap: 3.125rem;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;


    }

    .foto_uno_nosotros img{
        width: 350px;
        height: 200px; }

    .card_nosotros {
        width: 350px;
    }
    .card_nosotros p {
        font-size: 14px;
    }
    /* TIENDA */
    .navbar_tienda {
        background-color: #632523;
    }
    .banner_feria {
        display: flex;
    }
    .banner_feria_mobile {
        display: none;
    }
    .navbar_contacto {
        background-color: #632523;
    }
}


@media only screen and (min-width: 1024px) {
    .main_nosotros {
        display: flex;
        flex-direction: row;
    }

    .main_contacto {
        background-color: #63252300;
    }
    .navbar_contacto {
        background-color: #63252300;
    }
}



@media only screen and (min-width: 1500px) {

    body {
        grid-template-rows: 100px auto 50px;
    }

    .menu_navbar li a{
        font-size: 24px;
    }
    .menu_navbar li {
        width: 150px;
    }

    .menu_navbar {
        gap: 1.875rem;
    }
    .carrito_navbar {
        top: 0.5%;
    }
    .carrito_navbar:active {
        background-color: #D9534F;
        box-shadow: -5px 5px #a03d39;
        transform: translateY(4px);
    }

    .carrito_navbar img {
        width: 55px;
    }
    .logo_navbar img {
        width: 100px;
        padding-left: .3125rem;
        padding-top: 20px;
    }
    
    .article_index{
        gap: 3.125rem;
    }
    
    .article_index h1 {
        width: 1000px;
        font-size: 52px;
    }

    .article_index h2 {
        font-size: 40px;
    }
    .article_index a {
        width: 250px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto_uno_nosotros img{
        width: 500px;
        height: 300px;
    }

    .card_nosotros {
        width: 400px;
        height: 700px;
    }
    .card_nosotros h2 {
        font-size: 32px;
    }

    .card_nosotros p {
        font-size: 20px;
    }

    .main_contacto iframe {
        width: 440px;
        height: 440px;
        flex-direction: row;
        justify-content: center;
        gap: 12.5rem;
    }

    .info_contacto {
        width: 400px;
    }
    .info_contacto img {
        width: 400px;
    }

    .texto_contacto {
        left: 60px;
        top: 100px;
        width: 330px;
        font-size: 20px;
    }

    .formulario_contacto {
        width: 400px;
        height: 440px;
    }

    .formulario_contacto label {
        margin-left: 24px;
        font-size: 30px;
    }
    
    #mensaje {
        height: 210px;
    }
    .formulario_contacto input {
        width: 330px;
        height: 40px;
        border-radius: 20px;
        margin-left: 20px;
        margin-top: 8px;
    }
}